@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";

body {
		color: #9a9a9a;
		font-family: "Raleway", Arial, Helvetica, sans-serif;
		font-size: 15pt;
		font-weight: 300;
		line-height: 1.65;
	}
	html, body, div,  h1, h2, h3, h4, h5, h6, p, em, img,  strong, sub, sup, b, u, i, center, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td,footer, nav, section, {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
